<div id="contactForm" class="contactForm">
	<form action="/">
        <div class="row">
            <label for="Name">Name</label>
            <input class="textbox" id="Name" name="Name" type="text" value="">
        </div>
        <div class="row">
            <label for="Email">Email</label>
            <input class="textbox" id="Email" name="Email" type="text" value="">
        </div>
        <div class="row">
            <label for="Message">Message</label>
            <textarea class="textarea" cols="20" id="Message" name="Message" rows="2"></textarea>
        </div>
        <button id="submit" type="submit" class="btn btn-rounded">Submit</button>
	</form>
</div>

{% block scripts %}

{% endblock %}
