<aside id="sidebar" class="sidebar" role="complimentary">
    <nav role="navigation" id="sideNav" class="sideNav">
        <div class="offcanvas">
			<div class="menu">
				<!-- Include global navigation -->
				{% include "global-nav" with "2" %}
			</div>
        </div>
    </nav>
</aside>
