<div class="socialLinks">
	<a href="#" class="social twitter" target="_blank">
		<i class="im icn-twitter" aria-hidden="true"></i>
	</a>
	<a href="#" class="social facebook" target="_blank">
		<i class="im icn-facebook" aria-hidden="true"></i>
	</a>
	<a href="#" class="social pinterest" target="_blank">
		<i class="im icn-pinterest" aria-hidden="true"></i>
	</a>
	<a href="#" class="social youtube" target="_blank">
		<i class="im icn-youtube" aria-hidden="true"></i>
	</a>
	<a href="#" class="social linkedIn" target="_blank">
		<i class="im icn-linkedin" aria-hidden="true"></i>
	</a>

	<a href="#" class="social email">
		<i class="im icn-envelope" aria-hidden="true"></i>
	</a>
	<a href="#" class="social rss">
		<i class="im icn-rss" aria-hidden="true"></i>
	</a>
</div>
