{% block title %}About - Umbraco Boilerplate for Mixture{% endblock %}

{% block precontent %}

{% endblock %}

{% block sectionclass %}withSidebar brokenReset{% endblock %}
{% block pagetitle %}Error 404{% endblock %}
{% block content %}
    <h3>Oh great, look what you've done!</h3>
{% endblock %}

{% block contentfooter %}

{% endblock %}

{% block sidebar %}
    <!-- Include sidebar -->
		{% include "sidebar" %}
{% endblock %}
