{% block title %}About - Umbraco Boilerplate for Mixture{% endblock %}

{% block precontent %}
    
{% endblock %}

{% block sectionclass %}withSidebar {% endblock %}
{% block pagetitle %}Cookie Policy{% endblock %}
{% block content %}
    <p>This site uses cookies, but only to collect anonymous data and statistics to help us improve our site. This data is only used by us and only for this purpose.&nbsp;</p>
    <p>Cookies are small text files that are sent from a website to the users browser. The browser holds this data for a specified amount of time. By sending a cookie with a random code to users that visit our site, our statistical tools can differentiate a new user from a returning one which helps us to analyse the populatity of parts of our site - combining that with search engine data gives us a set of tools that are essential for Search Engine Optimisation.</p>
    <p>If you would perfer not to allow websites to use cookies there are a number of tools available to disable them from your browser. These are the tools we recommend:</p>
<table class="table-bordered table-striped" border="1" cellspacing="0" cellpadding="1">
        <tbody>
          <tr>
            <td><strong>Chrome</strong></td>
            <td><a href="https://chrome.google.com/webstore/detail/mlomiejdfkolichcflejclcbmpeaniij?hl=en-GB" target="_blank">Ghostery extension</a><span >&nbsp;(full blocking customisable) or Google's&nbsp;</span><a href="https://chrome.google.com/webstore/detail/hhnjdplhmcnkiecampfdgfjilccfpfoe?hl=en-GB" target="_blank">Keep My Opt-Outs extension</a><span>&nbsp;(advert tracking cookie block)</span></td>
          </tr>
          <tr>
            <td><strong>FireFox</strong></td>
            <td><a href="http://www.ghostery.com/" target="_blank">Ghostery Add-on</a><span>&nbsp;or Google's&nbsp;</span><a href="http://www.google.com/ads/preferences/plugin/" target="_blank">Cookie Opt-Out Plugin&nbsp;</a>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Internet Explorer</strong></td>
            <td><a href="http://www.ghostery.com/" target="_blank">Ghostery Add-on</a><span>&nbsp;or Google's&nbsp;</span><a href="http://www.google.com/ads/preferences/plugin/" target="_blank">Cookie Opt-Out Plugin&nbsp;</a>&nbsp;</td>
          </tr>
          <tr>
            <td><strong>Safari</strong></td>
            <td><a href="http://www.ghostery.com/" target="_blank">Ghostery Extension</a></td>
          </tr>
        </tbody>
    </table>
    <p>More information about cookies and their usage can be found on Google Analytics' developer <a target="_blank" href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies">page</a></p>
{% endblock %}

{% block contentfooter %}

{% endblock %}

{% block sidebar %}
    <!-- Include sidebar -->
		{% include "sidebar" %}
{% endblock %}