{% block title %}About - Umbraco Boilerplate for Mixture{% endblock %}

{% block precontent %}
    
{% endblock %}

{% block sectionclass %} {% endblock %}
{% block pagetitle %}Page without sidebar{% endblock %}
{% block content %}
    <p>On this page you can test the sticky/slideout footer</p>
    {{ 1 | lorem_ipsum:'p' }}
{% endblock %}

{% block contentfooter %}

{% endblock %}